## Python

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

## Project

Icon[\r]
Icon\r\r
Icon
._*
**/Icon?
gitignore/
secrets/

node_modules/


# https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

CCFatigue_modules/
.DS_Store
