# Ccfatigue.TestResult

## Properties

| Name                      | Type                                      | Description | Notes |
| ------------------------- | ----------------------------------------- | ----------- | ----- |
| **specimenId**            | **Number**                                |             |
| **totalDissipatedEnergy** | **Number**                                |             |
| **hysteresisLoops**       | [**[HysteresisLoop]**](HysteresisLoop.md) |             |
| **nCycles**               | **[Number]**                              |             |
| **creep**                 | **[Number]**                              |             |
| **hysteresisArea**        | **[Number]**                              |             |
| **stiffness**             | **[Number]**                              |             |
